* {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px; 
}

/* HEADER */
.main_header{width:100%; height: 125px; color:#c1c4c8; margin:0 auto; padding-top: 15px; float:center;  border-bottom:1.5px solid rgba(47,188,241,0.8);  background-color: #282828; box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5) ;}
.main_header {text-align: center; margin:0 auto;}
.main_header p{color:#c1c4c8;}

.light-theme {background-image:url(img/light_bckgrnd.jpg); color:#282828;}
.dark-theme {background-image:url(img/dark_bckgrnd.jpg);color:#c1c4c8 ;}

.btn-menu{
    display:block;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-menu button{
    display:block;
    background-image: linear-gradient(#282828 45%, #0c0c0c 55%);
    border-radius: 10px;
    border:rgb(187, 187, 187)  2px solid;
    width:200px;
    height: 50px;
    font-weight:bold ;
    color:#c3c3c3;
    font-size: 1.25em;    
}

.car-box{
    justify-content: center;
    text-align:center; 
    color:#fff;    
    padding:5%;
    position:absolute;
    clear:both;
}
.col-25 h4{    
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center

}

.col-25{     
    width: 35%;
    height: 300px;   
    display: inline-block;     
    margin-left: 10%;  
}

.col-25 img{            
    width: 100%;   
    border-right: 1.5px solid; 
    padding-right: 20px;
}

.col-25 h4{            
    text-align:left;        
    font-weight: bold;
}

.col-25 p{            
    text-align:left;        
    font-size: 20px;
}

.main_footer{margin-top:37px; width:100%; float:left; background:#282828; padding:5px; vertical-align: middle; position: absolute; bottom: 0; border-top:1px solid rgba(47,188,241,0.8);}


